/* palette colours: 0D1321, 1D2D44, 3E5C76, 748CAB, F0EBD8 */
/* Google Fonts */
.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.ibm-plex-sans {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /*font-variation-settings: "wdth" 100;*/
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



body {
  font-family: "Manrope", sans-serif;
  color: #f0ebd8;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  background-color: #0d1321;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: "Orbitron", sans-serif;
  color: #f0ebd8;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s;
  font-family: "Manrope", sans-serif;
}

.btn-primary {
  background: #f0ebd8;
  color: #0d1321;
  font-family: "Manrope", sans-serif;
}

.btn-primary:hover {
  background: #f0ebd8;
  transform: translateY(-2px);
  font-family: "Manrope", sans-serif;
}

.btn-secondary {
  background: transparent;
  color: #f0ebd8;
  border: 1px solid #f0ebd8;
}

.btn-secondary:hover {
  background: rgba(0, 212, 255, 0.1);
}

.input-group {
  margin: 20px 0;
  color: #f0ebd8;
  font-family: "Manrope", sans-serif;
}

.input-field {
  padding: 10px;
  margin: 5px;
  width: 100px;
  border: 1px solid #3e5c76;
  border-radius: 5px;
  color: #0d1321;
  background-color: #f0ebd8;
  font-family: "Manrope", sans-serif;
}

.status {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  color: #0d1321;
}

.coordinates {
  font-family: "Orbitron", sans-serif;
  background: #f0ebd8;
  color: #0d1321;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}
